# We'll use defaults from the LLVM style, but with 4 columns indentation.
BasedOnStyle: Microsoft 
IndentWidth: 4
BreakConstructorInitializers: BeforeColon
AllowShortFunctionsOnASingleLine: None
# Pointer Alignment
PointerAlignment: Right
ColumnLimit: 0